
.App-header {
  height: 120px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.App-content {
  min-height: calc(100vh - 120px);
  padding: 10px;
  box-sizing: border-box;
  background-color: #282c34;
}
